body{
  text-align: center;
  background-color: #043971;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.ui-page {
  background:#043971;
}

.hidden {
  display: none;
}

.container {
  width: 25;
  margin: auto;
}

.btn {
  display: inline-block;
  height: 150px;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 52px;
  width: 150px;
  border: 10px solid black;
  border-radius: 50%;
}

.btn-sounds{
  display: inline-block;
  height: 70px;
  width: 150px;
  border: 5px solid black;
  margin-bottom: 80px;
  border-radius: 0%;
}

.btn-sounds2{
  display: inline-block;
  height: 70px;
  width: 150px;
  border: 5px solid black;
  margin-top: -63px;
  border-radius: 0%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.grey {
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
